* {
    font-family: Arial;
}

h1, h3 {
    font-family: geneva;
}

body {
    background-color: black;
}

article {
    background-image: linear-gradient(silver, white);
    border-radius: 0.75em;
    padding: 10%;
    box-shadow: 10% black;
}

header {
    background-image: url('16275799968_3d6096a7dc_b.jpeg');
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 0.75em;
    padding: 25%;
    box-shadow: 10% black;
}

/* link styles */

a {
    color: blue;
    text-decoration: none;
}

img {
    display: block;
    height: 20%;
    border: black;
    border-radius: 0.75em;
    box-shadow: 10% black;
}

.subheading {
    border-bottom: solid 5px black;
}